<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">About</h1>
  </div>
</section>
<hr>

<div class="container text-left">
  <h3 id="about"  class=".lead">
    My Portfolios is a site that helps you track and monitor multiple stock portfolios in real-time.<br>
    You can simply add the stocks that you want to monitor and you will get updated statistics about your portfolio performance (gains, market values, dividends and more!).<br>
    <a href="#/help" class="btn btn-lg btn-secondary">Learn more</a>
  </h2>
</div>