<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Help</h1>
  </div>
</section>
<hr>

<div class="container text-left">
  <br>
  <ol id="about" class=".lead">
        <li>If you are new user - create a user using regitration form, if you already registered - log in with your user.</li>
        <li>Click on Add New Portfolio, enter portfolio name and click OK.</li>
        <img src="../img/add_portfolio.PNG">
        <li>In the portfolio page you can add, update or delete stocks that already exists in your portfolio.<br>
        Symbol - Stock ticker<br>
        Date - When did you buy the stock (mm/dd/yy format)<br>  
        Price - Price for each share<br>
        Shares - Number of shares that you bought<br>
        <img src="../img/add_stock.PNG">
        </li>
    </ol>
</div>